/* #124e78, dark cerulean
#ff5a5f, pastel red
#fffda0, canary
#3d3637, black olive
#fbfef9, baby powder
  */

header {
  background-color: #124e78;
  padding: 1em;

  font-family: Impact

}

h1 {
  color: #fffda0;

}

nav {
  background-color: #ff5a5f;

}

nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
 nav li {
   list-style: none;
   float: left;

 }

nav a {
  color #fffda0;
  text-decoration: none;
  border-right: 1px solid #fffda0;
  padding: 1em;
  display: inline-block;
}

nav a:hover {
  background-color: ##124e78;
}

#main_content {
  background-color: #fbfef9;
  padding: 1em;
  overflow: hidden;

}



article h2,
aside h3 {
  margin: 0;
}
article {
  float: left;

}

article img{
  margin-top: 50px;
  float: left;
  margin: 1em;


}

.facts {
  float: right;
  background-color: #fffda0;
  margin: -1em;
  width: 20%;
  min-height: 400px;
  padding: 1em;
}

body {
  margin: 0;
}

img {
  float: right;
  margin-top: -90px;
}


/* unvisited link */
a:link {
    color: #124e78;
    font-size: 20px;
    font-family: Verdana, Geneva, sans-serif;
}

/* visited link */
a:visited {
    color: #fff;
}

/* mouse over link */
a:hover {
    color: #ff5a5f;
    background-color: #fffda0;
}

/* selected link */
a:active {
    color: blue;
}
